<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа №9 (jQuery, вариант 1)</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<header id="main-header">
    <h1>Мотосайт</h1>
    <img src="../static/images/logo.jpg" alt="Логотип" id="logo" class="logo">
</header>

<div class="gallery">
    <h2>Мотоциклы</h2>
    <img src="../static/images/moto1.jpg" alt="Мотоцикл 1" class="moto">
    <img src="../static/images/moto2.jpg" alt="Мотоцикл 2" class="moto" id="second-moto">
    <img src="../static/images/moto3.jpg" alt="Мотоцикл 3" class="moto">
</div>

<button id="runTasks">Выполнить задания</button>

<script src="../static/js/script.js"></script>
</body>
</html>