<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги - ООО "FruitsBrothers"</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <h5>ООО "FruitsBrothers"</h5>
    <img src="../static/img/logo.jpg" alt="Логотип компании" class="logo">
    <h2>Владелец компании: Ait</h2>
    
    <h2>Наш приоритет:</h2>
    <ol>
        <li>Свежесть ингридиентов!</li>
        <li>Натуральность фруктов!</li>
        <li>Качество продукта!</li>
    </ol>
    
    <nav>
        <a href="index.html">Главная</a> | 
        <a href="goods.html">Выбор напитков</a>
    </nav>
</body>
</html>