<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прайс-лист - ООО "FruitsBrothers"</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <h5>ООО "FruitsBrothers"</h5>
    <img src="../static/img/logo.jpg" alt="Логотип компании" class="logo">
    <p>Выберите свое настроение!</p>
    
    <table>
        <caption>Напитки</caption>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Картинка</th>
            <th>Цена</th>
        </tr>
        <tr>
            <td>Оранжевый (1 л)</td>
            <td>Сочность цитруса</td>
            <td><img src="../media/orange.jpg" alt="Фото апельсинового" class="logo"></td>
            <td>5.55 BYN</td>
        </tr>
        <tr>
            <td>Зеленый (1 л)</td>
            <td>Кислинка яблока</td>
            <td><img src="../media/apple.jpg" alt="Фото яблочного" class="logo"></td>
            <td>5.60 BYN</td>
        </tr>
        <tr>
            <td>Нежный (1 л)</td>
            <td>Нежность винограда</td>
            <td><img src="../media/caress.jpg" alt="Фото виноградного" class="logo"></td>
            <td>7.19 BYN</td>
        </tr>
        <tr>
            <td>Диамантитовый (1 л)</td>
            <td>Уверенность граната</td>
            <td><img src="../media/diamondite.jpg" alt="Фото гранатового" class="logo"></td>
            <td>6.29 BYN</td>
        </tr>
    </table>
    
    <nav>
        <a href="index.html">Главная</a> | 
        <a href="ads.html">Информация</a>
    </nav>
</body>
</html>