<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - ООО "FruitsBrothers"</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <h5>ООО "FruitsBrothers"</h5>
    <img src="../static/img/logo.jpg" alt="Логотип компании" class="logo">
    <p>Добро пожаловать! Дарим радость и свежесть в сердца!</p>
    <p class="address"><strong>Адрес:</strong> г. Могилев ул. Ленинская 104</p>
    
    <nav>
        <a href="goods.html">Выбор напитков</a> | 
        <a href="ads.html">Информация</a>
    </nav>
</body>
</html>